<header class="header">
    <div class="header-contenido">
        <img class="logo-cruz" src="/images/cruz-hospital.png" alt="Logo centro médico">
        <h1>Bienvenido al centro médico {{title}}</h1>
    </div>
</header>

<div class="pagina-principal">
    <p>Apreciado Usuario, </p>
    <p>En la presente pagina podrán registrarse médicos, pacientes y citas medicas
        respectivamente en los formularios indicados. Recuerde llenar los datos
        completos.</p>
    <p>A continuación selecciona una opción</p>
    <br />
    <br />
    <div class="flex">
        <div class="boton-imagen">
            <img src="/images/pacientes-boton.png">
            <a href="/pacientes" alt="pacientes">Listar pacientes</a>
        </div>
        <div class="boton-imagen">
            <img src="/images/medicos-boton.png">
            <a href="/medicos" alt="medicos">Listar médicos</a>
        </div>
        <div class="boton-imagen">
            <img src="/images/cita-medica-boton.png">
            <a href="/citas" alt="citas medicas">Solicitar una cita médica</a>
        </div>

    </div>

    <br />
    <br />
    <p style="text-align:right;">
        <b>Nota: </b>
        En caso de que quiera eliminar una medico o paciente debe asegurarse que
        no estos no tengan registrados citas medicas.
    </p>
</div>